header,
main {
    margin: 50px 180px;
    
}

/* Banner works */
header {
    
    background-image: url(../resources/Banner\ Image.png);
    padding: 177px 344px;
    background-repeat: no-repeat;
    border-radius: 20px;
}

div li {
    list-style: none;
}

#Banner-title {
    color: rgb(226, 8, 117);
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.Banner-content {
    color: rgb(226, 8, 117);
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}